<p id="notice"><%= notice %></p>

<p>
  <strong>Login:</strong>
  <%= @credential.login %>
</p>

<p>
  <strong>Password:</strong>
  <%= @credential.password %>
</p>

<%= link_to 'Edit', edit_credential_path(@credential) %> |
<%= link_to 'Back', credentials_path %>
