<div class="page-header">
  <%= link_to new_email_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Email
  <% end %>
  <h1>Listing emails</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Title</th>
            <th>Body</th>
            <th>Supplier</th>
            <th>Consumer</th>
            <th>New</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @emails) do |email| %>
            <td><%= email.title %></td>
            <td><%= email.body %></td>
            <td><%= email.supplier_id %></td>
            <td><%= email.consumer_id %></td>
            <td><%= email.new %></td>
            <td><%= link_to 'Show', email %></td>
        <td><%= link_to 'Edit', edit_email_path(email) %></td>
        <td><%= link_to 'Destroy', email, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
